#background{
    background-color: #FFB6B9;
}

#hero,#resume,#project-showcase,#header{
    background-color: #FAE3D9;
}
#header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.project-img{
    width:100%;
}
@media (min-width:768px){
    #resume-layout{
        display:grid;
        gap:20px;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
    }
    #education{
        grid-area:1 1 2 2;
    }
    #work-education{
        grid-area:2 1 3 2;
    }
    #skills{
        grid-area:1 2 3 3;
    }

    .Project{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap:10px;
    }
    .Project-layout-1{
        grid-row: span 2;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .Project-title h2{
        font-size:5rem;
    }
    #github a{
        font-size: 2rem;
    }
}
@media (max-width:767px){
    #resume-layout{
        display:grid;
        gap:20px;
        grid-template-columns:1fr;
        grid-template-rows:1fr 1fr 1fr;
    }
    .Project{
        display:flex;
        flex-direction: column;
        gap:20px;
    }
}
.contact{
    display:flex;
    justify-content: flex-end;
}
.icon{

}
h1 ,h2{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.04em;
}
p,li{
    font-family: 'Quattrocento', serif;
    font-size: 1.2rem;
}
#project-showcase img{
    border-radius: 20px;
}


